.logo {
  fill: $white-color;
  position: absolute;
  top: 40px;
  left: 31px;
}

.page-header {
  position: relative;
}
.hero-container {
  padding: 208px 113px 208px 31px;
}
.background-container {
  background: linear-gradient(rgba(25, 28, 38, 0.7), rgba(25, 28, 38, 0.2)),
    url(../images/header-background-M.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .background-container {
    background: linear-gradient(rgba(25, 28, 38, 0.7), rgba(25, 28, 38, 0.2)),
      url(../images/header-background-M@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }
}

.hero {
  &__title {
    font-family: "Raleway";
    font-weight: $text-weight-700;
    font-size: 48px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: $white-color;
    margin: 0;
    padding-bottom: 20px;
  }
  &__text {
    font-weight: $text-weight-400;
    font-size: $main-text-font-size;
    line-height: 1.62;
    letter-spacing: 0.02em;
    color: $secondary-color;
  }
}

.buttons-list {
  display: none;
}

.hero-design {
  display: none;
  flex-direction: column;
  margin: 0;
  position: absolute;
  right: 59px;
  top: 325px;
  align-items: flex-end;
  gap: 12px;
  &__line {
    width: 8px;
    height: 2px;
    border-bottom: 2px solid $secondary-color;
    &--bigger {
      width: 18px;
    }
  }
}
