$primary-color: #ff6c00;
$secondary-color: #9da4bd;
$main-accent-color: #9da4bd99;
$white-color: #ffffff;
$main-text-color: #303030;
$secondary-text-color: #555555;
$background-color: #f7f7f7;

$text-weight-700: 700;
$text-weight-600: 600;
$text-weight-400: 400;

$title-font-size: 28px;
$subtitle-font-size: 11px;
$main-text-font-size: 16px;
$secondary-text-font-size: 14px;
$button-font-size: 12px;
